body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 .main {
   flex: 1 0 auto;
   margin-top: -10px
 }

.content {
  margin-bottom: 40px;
  margin-left: 14%;
  margin-top: 20px;
  max-width: 75%;
}

.brand-logo {
  margin-left: 20px;
}

.city-image {
  max-height: 300px;
  margin-top: 20;
}

.profile-pic {
  max-height: 300px;
  margin-top: 20;
}

.form-errors {
  color: red;
  font-size: 2rem;
  margin-top: 0px;
  margin-bottom: 10px;
}

input {
  margin: 5px;
}

/* The Modal (background) */
.edit-profile-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.edit-profile-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

.close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.close-modal:hover, .close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.flex-full {
  flex: 1;
}

.navbar {
  display: flex;
  flex: 0;
  flex-direction: row;
  justify-content: space-around;
}

.title-input {
  width: 500px;
}

.post-textarea, .comment-input{
  min-height: 44px;
  box-shadow: inset 0 1px 2px 0 rgba(50,50,50,0.3);
  border: 1px solid #dbdad5;
  font-weight: normal;
  font-size: 1.1670em;
  font-family: inherit;
  width: 50%;
  box-sizing: border-box;
  padding: 12px 5px 5px 14px;
  height: 24px;
  margin: 0;
  background-color: #fff;
}

.delete-button, .delete-comment-button {
  border: none;
  background: none;
  padding: 0;
}

button.comments-button {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 10px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-bottom: 10;
}

.comments-button:hover {
  background-color: #ccc;
}

.comments {
  background-color: white;
  display: none;
}

.open-panel {
  display: block;
}

.edit-comment-input {
  display: none;
}

.show-edit-comment {
  display: inline;
}

.hide-comment-paragraph {
  display: none;
}

.comment-paragraph {
  display: inline;
}

.delete-comment {
  display: inline;
}

.fa {
  color: #606060;
}

.relative-date, .posts-length {
  color: #707070;
}

.profile {
  display: flex;
  flex-direction: row;
}

.right-column {
  flex-grow: 1;
}

.left-column {
  flex-grow: 1;
  /*margin-left: 10;*/
}

.uploadcare--widget__file-name {
  all: initial;
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: .4em 1em;
  width: auto;
  min-width: 0;
  height: auto;
  min-height: 0;
  border-radius: 6px;
  border: none;
  background: #157cfc;
  color: #fff;
  cursor: default;
  text-align: center;
  white-space: nowrap;
  font: inherit;
  line-height: inherit;
  box-shadow: none;
  text-shadow: inherit;
  transition: background .3s;
}

.uploadcare--widget__file-name:hover {
  background: #58a0f9;
  color: #fff;
}

option {
  background-color: pink; !important
}

.new-post {
  align-content: center;
}

.slider .indicators .indicator-item.active{
    background-color: #26a69a !important;
}

.signup-login-button {
  padding: 0 1rem;
}

.slider {
  margin-top: 20px !important;
}

.caption{
  padding-top: 20px;
  z-index: 5;
  text-shadow: 1px 1px #1b1b1b;
}

.modal-submit {
  margin-top: 30px;
}

.parallax-container {
  margin-left: -20px;
  margin-top: -30px;
}

.container.content-out-parralax{
  padding-top: 50px;
}

nav i.material-icons.logo {
  font-size: 35px;
  padding-left: 10px;
}

select {
  font-family: 'FontAwesome', 'sans-serif';
}

.devicon-github-plain-wordmark {
  position: relative;
  font-size: 45px;
  padding-left: 10px;
  padding-bottom: 50px;
}

.view-code {
  padding-top: 28px;
  margin-left: -84px;
  position: absolute;
}
.copyright{
  padding-top: 15px;
  position: absolute;
}

.parallax {

    /* Set a specific height */
    min-height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-left: -19%;
    margin-right: -15%;
    margin-top: -30px;
    max-width: 100vw !important;
}

.parallax-caption {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #000000;
}

.parallax-caption span.border {
  padding: 18px;
  font-size: 4rem;
}

.border {
  border: 0 !important;
}
