footer.page-footer
  .container
    .row
      .col.l6.s12
        h5.white-text Roam
        p.grey-text.text-lighten-4 Roam is a travel site providing traveler reviews.
      .col.l4.offset-l2.s12
  .footer-copyright
    .container
      span.copyright © 2017 Copyright SomayaB
      a.grey-text.text-lighten-4.right(href='https://github.com/SomayaB/roam/')
        span
          strong.view-code View code on
        i.devicon-github-plain-wordmark
