html
  head
    link(rel="stylesheet", href="/style.css")
  body
    include header.pug

    block content
    script(src='https://use.fontawesome.com/f62333e5c9.js')
    script(charset='utf-8', src='https://ucarecdn.com/libs/widget/3.1.4/uploadcare.full.min.js')
    script(src="/script.js")
